h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 56px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 48px;
  text-align: center;
	color: #444;
}
.box {
	width: 317px;
	border: 11px solid #999;
	border-radius: 10px;
	margin-left: 36%;
}
.row1, .row2, .row3 {
  width: 100%;
  border: 1px solid black;
  margin: 0 0 0 0;
}
#a1, #a2, #a3, #b1, #b2, #b3, #c1, #c2, #c3 {
  display: inline-block;
	width: 100px;
	height: 100px;
	background: #EEE;
  border: 1px solid #DDD;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 100px;
}
button#reset {
	margin-left: 46%;
  width: 100px;
  height: 40px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  background-color: #e8f9fb;
  border: 2px solid #999;
  border-radius: 5px;
}
#winnerO, #winnerX {
	visibility: hidden;
	position: absolute;
	top: 105px;
	left: 20%;
	font-size: 200px;
	color: #05a8bb;
	font-family:'Ubuntu', sans-serif;
	background-color: rgba(6, 6, 6, 0.84);
	border: 7px solid #999;
	border-radius: 6px;
	padding: 50px 70px 70px 70px;
}
#winnerZ {
	visibility: hidden;
	position: absolute;
	top: 105px;
	left: 7%;
	font-size: 200px;
	color: #05a8bb;
	font-family:'Ubuntu', sans-serif;
	background-color: rgba(6, 6, 6, 0.84);
	border: 7px solid #999;
	border-radius: 6px;
	padding: 50px 70px 70px 70px;
}
